.metadata
keystore

senseit/res/drawable/sensor_*
senseit/res/drawable/button_*

senseit/.idea
senseit/.gradle
senseit/gradlew
senseit/gradlew.bat
senseit/local.properties
senseit/build

senseit/senseit/libs
senseit/senseit/build
senseit/senseit/*.apk

senseit/libcommon/build
senseit/androidplot/build


spotit/bin
spotit/gen
spotit/.settings


