.metadata

android-support-v7-appcompat

senseit/res/drawable/sensor_*
senseit/res/drawable/button_*
senseit/bin
senseit/gen
senseit/.settings


libandroidplot/bin
libandroidplot/gen
libandroidplot/.settings

libcommon/bin
libcommon/gen
libcommon/.settings

spotit/bin
spotit/gen
spotit/.settings


