.metadata
keystore

senseit/res/drawable/sensor_*
senseit/res/drawable/button_*

.idea
.gradle
*.iml
gradlew
gradlew.bat
local.properties
build

senseit/libs
senseit/build
senseit/*.apk

libcommon/build
androidplot/build
spotit/build
spotit/*.apk


