<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.greengin.sciencetoolkit"
    android:versionCode="27"
    android:versionName="0.7.4 beta" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="org.greengin.sciencetoolkit.ScienceToolkitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.greengin.sciencetoolkit.ui.components.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.components.main.MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.components.WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.components.WelcomeActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.components.main.sensorlist.choose.SensorListSettingsActivity"
            android:label="@string/title_activity_sensor_list_settings"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.components.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.components.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.components.main.sensorlist.config.SensorSettingsActivity"
            android:label="@string/title_activity_sensor_settings"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.components.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.components.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.components.main.profiles.edit.ProfileEditActivity"
            android:label="@string/title_activity_data_logging_edit"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.components.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.components.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.components.main.datalogging.config.ProfileSensorSettingsActivity"
            android:label="@string/title_activity_data_logging_edit"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.components.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.components.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.components.main.profiles.files.FileManagementActivity"
            android:label="@string/title_activity_file_management"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.components.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.components.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.components.appsettings.AppSettingsActivity"
            android:label="@string/title_activity_app_settings"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.components.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.components.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.components.main.profiles.view.DataViewActivity"
            android:label="@string/title_activity_data_view"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.components.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.components.main.MainActivity" />
        </activity>
    </application>

</manifest>