<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.greengin.sciencetoolkit"
    android:versionCode="36"
    android:versionName="1.1 Beta 6" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="org.greengin.sciencetoolkit.ScienceToolkitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.greengin.sciencetoolkit.ui.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.about.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.main.explore.SensorListSettingsActivity"
            android:label="@string/sensor_list_settings_activity_title"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.common.ui.base.AppSettingsActivity"
            android:label="@string/app_settings_activity_title"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.dataviewer.DataViewerActivity"
            android:label="@string/data_viewer_activity_title"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.common.ui.base.WebViewLoginActivity"
            android:label="@string/web_logging_activity_title"
            android:parentActivityName="org.greengin.sciencetoolkit.ui.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.main.MainActivity" />
        </activity>
        <activity
            android:name="org.greengin.sciencetoolkit.ui.remote.SenseItProjectBrowserActivity"
            android:label="@string/title_activity_project_browser" >
            android:parentActivityName="org.greengin.sciencetoolkit.ui.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.greengin.sciencetoolkit.ui.main.MainActivity" />
        </activity>
    </application>

</manifest>